* {
    box-sizing: border-box
}

html, body {
  font-size: 62.5%;
  height: 100%;
}

body {
  font-size: 1.6rem;
  font-family: @body-font;
  position: relative;
  color: white;
  overflow-x: hidden;
  background-color: #051435;
}


a {
  color: @link-color;
  text-decoration: none;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

a:hover {
    cursor: pointer;
    }

h1, h2, h3, h4, h5, h6 {
  font-family: @heading-font;
  color:#dddec7;
  padding: 0px 15px;
}

h1 {
  font-size: 30px;
  line-height: 1.2em;
  text-align: center;
  max-width: 830px;
  margin: 0px auto 25px auto;
  font-weight: 400;
  text-shadow: black 2px 2px 2px;
  padding-top: 30px;

  strong {
    color: @link-color;
  }
  em {
    @media screen and (min-width: @site-max-width) {
      display: block;
    }
  }

  @media screen and (min-width: @small-phone) {
    font-size: 50px;
  }

}

h2, dt {
  font-family: @heading-font;
  color: #f5c22d;
  padding: 0px 15px;
  font-weight: 400;
  max-width: @site-max-width;
  margin: 0px auto 0px auto;
  text-align: center;
  text-shadow: black 2px 2px 2px;


  @media screen and (min-width: @small-phone) {
    font-size: 50px;
  }
}

h2, dt:last-of-type {
font-size:30px;
}

h4 {
  font-size: 25px;
  line-height: 35px;
  padding: 0px 15px;
  font-weight: 400;
  font-size: 30px;
  max-width: @site-max-width;
  margin: 20px auto 20px auto;
  text-align: center;
  text-shadow: black 2px 2px 2px;


  @media screen and (min-width: @small-phone) {
  font-size: 35px;

  }
}

p {
  max-width: 900px;
  margin: 0px auto 0px auto;
  text-align: center;
      text-shadow: #000000 2px 2px 5px;
      font-size:17px;
          padding: 0 15px;

  &:first-of-type {
    max-width: @site-max-width;
    font-size: 21px;

    @media screen and (min-width: @small-phone) {
      font-size: 21px;
    }
  }
}


#bg_pattern {
background-image: url(/images/bg_pattern.png);
}


img {
  height: auto;
  max-width: 100%;
}

hr {
  border-top: 1px solid #152853;
  border-left: 0px none transparent;
  border-right: 0px none transparent;
  border-bottom: 0px none transparent;
  margin: 40px auto 0px auto;
  max-width: 200px;
}

.main-content {
background-image: url(/images/background.jpg); 
background-attachment: fixed; 
background-color: #10224c; 
background-size: cover;
}
