<div id="confirm-modal">
  <h2>Tell lawmakers: “Protect Internet privacy. Don’t vote to let ISPs sell my information to advertisers.”</h2>
    <ul>
      <li>Rep. Martha McSally (Arizona): <a href="tel:(202) 225-2542">(202) 225-2542 </a></li>
      <li>Rep. Justin Amash (Michigan): <a href="tel:(202) 225-3831">(202) 225-3831</a></li>
      <li>Rep. Albio Sires (New Jersey): <a href="tel:(202) 225-7919">(202) 225-7919</a> 
        <a href="https://twitter.com/home?status=.%40RepSires%20takes%20big%20money%20from%20ISPs.%20Will%20they%20vote%20to%20gut%20%23BroadbandPrivacy?%20http%3A//SaveBroadbandPrivacy.org%20%20pic.twitter.com/KYZvOSFMsf">Click to tweet Rep. Sires!</a></li>
      <li>Rep. Barbara Comstock (Virginia): <a href="tel:(202) 225-5136">(202) 225-5136</a>
        <a href="https://twitter.com/home?status=.%40RepComstock%20takes%20big%20money%20from%20ISPs.%20Will%20she%20vote%20to%20gut%20%23BroadbandPrivacy?%20http%3A//SaveBroadbandPrivacy.org%20%20pic.twitter.com/pr1DbT4DAL">Click to tweet Rep. Comstock!</a></li>
      <li>Rep. Bobby L. Rush (Illinois): <a href="tel:(202) 225-4372">(202) 225-4372</a>
        <a href="https://twitter.com/home?status=.%40RepBobbyRush%20takes%20big%20money%20from%20ISPs.%20Will%20he%20vote%20to%20gut%20%23BroadbandPrivacy?%20http%3A//SaveBroadbandPrivacy.org%20%20pic.twitter.com/TJvNQdDYWo">Click to tweet Rep. Rush!</a></li>
      <li>Rep. Darrell Issa (California): <a href="tel:(202) 225-3906">(202) 225-3906</a> 
        <a href="https://twitter.com/home?status=.%40DarrellIssa%20takes%20big%20money%20from%20ISPs.%20Will%20he%20vote%20to%20gut%20%23BroadbandPrivacy?%20http%3A//SaveBroadbandPrivacy.org%20%20pic.twitter.com/GOFcxNG81W">Click to tweet Rep. Issa!</a></li>
      <li>Rep. David Scott (Georgia): <a href="tel:(202) 225-2939">(202) 225-2939</a> 
        <a href="https://twitter.com/home?status=.%40repdavidscott%20takes%20big%20money%20from%20ISPs.%20Will%20he%20vote%20to%20gut%20%23BroadbandPrivacy?%20SaveBroadbandPrivacy.org%20%20pic.twitter.com/pIVTTAMGlO">Click to tweet Rep. Scott!</a></li>
      <li>Rep. G.K. Butterfield (North Carolina): <a href="tel:(202) 225-3101">(202) 225-3101</a> 
        <a href="https://twitter.com/home?status=.%40GKButterfield%20takes%20big%20money%20from%20ISPs.%20Will%20he%20vote%20to%20gut%20%23BroadbandPrivacy?%20SaveBroadbandPrivacy.org%20%20pic.twitter.com/e7WP8atHsX">Click to tweet Rep. Butterfield</a></li>
      <li>Rep. Gregory W. Meeks (New York): <a href="tel:(202) 225-3461">(202) 225-3461</a>
        <a href="https://twitter.com/home?status=.%40GregoryMeeks%20%20takes%20big%20money%20from%20ISPs.%20Will%20hevote%20to%20gut%20%23BroadbandPrivacy?%20http%3A//SaveBroadbandPrivacy.org%20%20pic.twitter.com/7zG1cD6Ktc">Click here to tweet Rep. Meeks!</a></li>
      <li>Rep. Jeff Denham (California): <a href="tel:(202) 225-4540">(202) 225-4540</a></li>
      <li>Rep. David Valadao (California): <a href="tel:(202) 225-4695">(202) 225-4695</a></li>
      <li>Rep. Steve Knight (California): <a href="tel:(202) 225-1956">(202) 225-1956</a></li>
      <li>Rep. Ed Royce (California): <a href="tel:(202) 225-4111">(202) 225-4111</a></li>
      <li>Rep. Mimi Walters (California): <a href="tel:(202) 225-5611">(202) 225-5611</a></li>
      <li>Rep. Dana Rohrabacher (California): <a href="tel:(202) 225-2415">(202) 225-2415</a></li>
      <li>Rep. Mike Coffman (Colorado): <a href="tel:(202) 225-7882">(202) 225-7882</a></li>
      <li>Rep. Carlos Curbelo (Florida): <a href="tel:(202) 225-2778">(202) 225-2778</a></li>
      <li>Rep. Ileana Ros-Lehtinen (Florida): <a href="tel:(202) 225-3931">(202) 225-3931</a></li>
      <li>Rep. Peter Roskam (Illinois): <a href="tel:(202) 	225-4561">(202) 225-4561</a></li>
      <li>Rep. Kevin Yoder (Kansas): <a href="tel:(202) 225-2865">(202) 225-2865 </a></li>
      <li>Rep. Erik Paulsen (Minnesota): <a href="tel:(202) 225-2871">(202) 225-2871</a></li>
      <li>Rep. Leonard Lance (New Jersey): <a href="tel:(202) 225-5361">(202) 225-5361</a></li>
      <li>Rep. John Katko (New York): <a href="tel:(202) 225-3701">(202) 225-3701</a></li>
      <li>Rep. Ryan Costello (Pennsylvania): <a href="tel:(202) 225-4315">(202) 225-4315</a></li>
      <li>Rep. Pat Meehan (Pennsylvania): <a href="tel:(202) 225-2011">(202) 225-2011</a></li>
      <li>Rep. Will Hurd (Texas): <a href="tel:(202) 225-4511">(202) 225-4511</a></li>
      <li>Rep. Pete Sessions (Texas): <a href="tel:(202) 225-2231">(202) 225-2231</a></li>
      <li>Rep. David Reichert (Washington): <a href="tel:(202) 225-7761">(202) 225-7761</a></li>
      <li>Rep. Henry Cuellar (Texas): <a href="tel:(202) 225-1640">(202) 225-1640</a></li>
      <li>Rep. Alcee L. Hastings (Florida): <a href="tel:(202) 225-1313">(202) 225-1313</a></li>
      <li>Rep. Lacy Clay (Missouri): <a href="tel:(202) 225-2031">(202) 225-2031</a></li>
      <li>Rep. Bennie Thompson (Minnesota): <a href="tel:(202) 225-5876">(202) 225-5876</a></li>
      <li>Rep. Marc Veasey (Texas): <a href="tel:(202) 225-9897">(202) 225-9897</a></li>
      <li>Rep. Sanford Bishop (New Jersey): <a href="tel:(202) 225-3631">(202) 225-3631</a></li>
      <li>Rep. Scott Peters (California): <a href="tel:(202) 225-0508">(202) 225-0508</a></li>
      <li>Rep. Kurt Schrader (Oregon): <a href="tel:(202) 225-5711">(202) 225-5711</a></li>
    </ul>
    <p style="text-align: left; font-size: 20px; margin: 0px 0px 10px 10px; font-weight: 400;">Tell Them: "I don't want Comcast and Verizon spying on my online life and selling my data to marketers, so I support the FCC broadband privacy rules. Please vote NO on the CRA to remove these rules, and do whatever you can to delay the vote."</p>



    <a href="https://www.facebook.com/sharer/sharer.php?u=http://www.savebroadbandprivacy.org" class="share facebook">Share This</a>
    <a href="https://twitter.com/intent/tweet?text=http%3A%2F%2Fwww.savebroadbandprivacy.org" class="tweet twitter">Tweet This</a>
    <a href="https://donate.fightforthefuture.org/?tag=bp_priv" class="donate">Donate</a>
</div>
