<div id="confirm-modal">
  <h2>Call these senators now to voice your support to Delay the CPA and save your digital privacy rights!</h2>
    <h3>Need some <a href="#details">talking points</a>?</h3>
    <ul>
      <li>Senator Murkowski (Alaska): <a href="tel:(907) 271-3735">(907) 271-3735 </a></li>
      <li>Senator Collins (Maine): <a href="tel:(207) 622-8414">(207) 622-8414</a></li>
      <li>Senator Moran (Kansas): <a href="tel:(202) 224-6521">(202) 224-6521</a></li>
      <li>Senator Gardner (Colorado): <a href="tel:(202) 224-5941">(202) 224-5941</a></li>
      <li>Senator Sasse (Nebraska): <a href="tel:(202) 224-4224">(202) 224-4224</a></li>
    </ul>



    <a href="https://www.facebook.com/sharer/sharer.php?u=http://www.savebroadbandprivacy.org" class="share facebook">Share This</a>
    <a href="https://twitter.com/intent/tweet?text=http%3A%2F%2Fwww.savebroadbandprivacy.org" class="tweet twitter">Tweet This</a>
</div>
